/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
    background-color: #294843;
}

.navbar a{
    color: white;
    font-size: 20px;
}

.nav-link{
    font-size: 20px;
}



.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.main-image {
    background: url("https://images.pexels.com/photos/4058222/pexels-photo-4058222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-btn {
    
}

.h1-home {
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 18px;
    border-radius: 18px;
    text-transform: uppercase;
    opacity: 0.9;
 
}

    .btn:hover {
        opacity: 0.6;
    }
.btn-tamanho {
    max-width: 15em !important;
    min-width: 15em !important;
}

.btn-home {
    width: 50%;
    justify-content: space-evenly;
    width: 100%;
}


/**QUEM SOMOS */

/* INFO */
#info-content {
    margin-bottom: 4em;
    padding: 4em 1em;
}

#info-numbers {
    margin: 1.5em 0;
}

#info-banner {
    align-items: center;
    display: flex;
    margin-bottom: 2.5em;
}

#info-numbers h3 {
    font-size: 3em;
}

.btn-saiba{
    color: white;
}
