@{
    ViewData["Title"] = "Capacitacao";
}


@*titulo*@
@*titulo*@
<div class="text-center">
    <h2 class="display-4 text-primary font-weight-bold">Capacitação Profissional:</h2>
</div>
<br />
<br />
@*conteudo da pagina*@
<div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">
        <img class="rounded  m-2" src="~/lib/imagens/destaque_trabalho.jpg" width="288" />
        <p class="text-sm-left font-weight-light text-black-50">
            Felipe Carvalho faz parte do programa Iluminar, da Light,
            no Rio de Janeiro.<br /> Crédito: Vitor Madeira/Imagens do Povo
        </p>
    </div>
    <div class="align-self-stretch ">
        <h3>
            <br />Hoje o Instituto Down oferece 9 cursos profissionalizantes: Auxiliar de cozinha, repositor de mercadorias
            em supermercados e lojas, auxiliar de limpeza, camareira em hotéis, ajudante de produção,
            mensageiro, secretária, porteiro e  telefonista.
            Para maior absorção do conteúdo, nossos cursos foram preparados por profissionais das áreas de saúde, pedagogia
            e tecnologia, tudo isso para obter um conteúdo e metodologia totalmente direcionadas ao público portador da síndrome
            de Down.
        </h3>
    </div>
</div>
<br />
<br />
<br />
<p>Conheça historias inspiradoras de pessoas com síndrome de Down que fazem sucesso no mercado de trabalho <a href="http://www.movimentodown.org.br/2014/09/pessoas-com-sindrome-de-fazem-sucesso-mercado-de-trabalho/">MOVIMENTO DOW</a>.</p>


