

@{
    ViewData["Title"] = "CRUD";
}



<div>
    <ul>
        <li>
            <a class="btn btn-primary m-3" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuários</a>
        </li>
        <li>
            <a class="btn btn-primary m-3" asp-area="" asp-controller="Empresas" asp-action="Index">Empresas</a>
        </li>
        <li>
            <a class="btn btn-primary m-3" asp-area="" asp-controller="Cursos" asp-action="Index">Cursos</a>
        </li>
        <li>
            <a class="btn btn-primary m-3" asp-area="" asp-controller="Vagas" asp-action="Index">Vagas</a>
        </li>
        <li>
            <a class="btn btn-primary m-3" asp-area="" asp-controller="Candidaturas" asp-action="Index">Candidaturas</a>
        </li>
        <li>
            <a class="btn btn-primary m-3" asp-area="" asp-controller="Matriculas" asp-action="Index">Matrículas</a>
        </li>
    </ul>
</div>
