@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css">


<!-- Background image -->
<main class="main-image">
    <div class="h1-home">
        
        <h1 class="text-primary h1-home">Instituto Down</h1>
    </div>

    <div class="container-btn">
        <div class="btn-home">
            <a asp-area="" asp-controller="Home" asp-action="Quemsomos" class="btn btn-primary btn-tamanho" type="button">Quem Somos</a>
            <a asp-area="" asp-controller="Home" asp-action="Capacitacao" class="btn btn-primary btn-tamanho" type="button">Capacitação Profissional</a>
        </div>

        <div class="btn-home">
            <a asp-area="" asp-controller="Home" asp-action="OqueFazemos" class="btn btn-primary btn-tamanho" type="button">O que fazemos</a>
            <a asp-area="" asp-controller="Home" asp-action="PqContratar" class="btn btn-primary btn-tamanho" type="button">Porque contratar?</a>
        </div>

        <div class="btn-home">
            <a asp-area="" asp-controller="Home" asp-action="SindromeDeDown" class="btn btn-primary btn-tamanho" type="button">Síndrome de Down</a>
            <a asp-area="" asp-controller="Vagas" asp-action="ListaDeVagas" class="btn btn-primary btn-tamanho" type="button">Vagas de Emprego</a>
        </div>

        <div class="btn-home">
            <a asp-area="" asp-controller="Empresas" asp-action="Cadastrarempresa" class="btn btn-primary btn-tamanho" type="button">Cadastre-se como empresa</a>
            <a asp-area="" asp-controller="Usuarios" asp-action="CadastrarUsuario" class="btn btn-primary btn-tamanho" type="button">Cadastre-se como talento</a>
        </div>

    </div>

</main>
<!-- Background image -->
