@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "O que fazemos";
}

<link rel="stylesheet" href="~/css/OqFazemos.css"/>

<div class="container grid-container">
    <div>
        <main>
            <h1 class="text-primary"> O que fazemos </h1>

            <div>
                <p> &#9733 Com práticas pedagógicas voltadas ao público portador da síndrome de Down, aliadas à fonoaudiologia e psicopedagogia, nós oferecemos cursos profissionalizantes com aulas híbridas, ou seja, o aluno terá aulas online e presenciais. </p>


                <picture>
                    <source media="(max-width: 300px)" srcset="~/lib/Imagens/brain_storn_pequena1.jpg">
                    <source media="(max-width: 600px)" srcset="~/lib/Imagens/brain_storn_media1.jpg">
                    <img src="~/lib/Imagens/brain_storn_grande1.jpg" alt="ideação de métodos educacionais">
                </picture>
            </div>


            <div>
                <p> &#9733 Nas aulas online é utilizada tecnologia lúdico-pedagógica e nas aulas presenciais o aluno tem a oportunidade de aprender na prática sua futura profissão. </p>

                <picture>
                    <source media="(max-width: 300px)" srcset="~/lib/Imagens/tricolor_pc_pequena.jpg.jpg">
                    <source media="(max-width: 600px)" srcset="~/lib/Imagens/tricolor_pc_media.jpg">
                    <img src="~/lib/Imagens/tricolor_pc_grande.jpg" alt="homem com síndrome de down, trabalhando no computador">
                </picture>
            </div>

            <div>
                <p> &#9733 Temos ainda o compromisso de conectar esses alunos a futuros empregadores. Após formados, os alunos terão acesso ao banco de vagas de empresas parceiras e poderão participar de processos seletivos. </p>

                <picture>
                    <source media="(max-width: 300px)" srcset="~/lib/Imagens/processo_seletivo_pequena.jpg">
                    <source media="(max-width: 600px)" srcset="~/lib/Imagens/processo_seletivo_media.jpg">
                    <img src="~/lib/Imagens/processo_seletivo_grande.jpg" alt="pessoa com síndrome de down, passando por processo seletivo">
                </picture>
            </div>

            <div>
                <p> &#9733 Após a contratação, o Instituto Down permanece presente acompanhando o desenvolvimento da relação do novo contratado e da empresa parceira com visitas periódicas ao ambiente de trabalho. </p>

                <picture>
                    <source media="(max-width: 300px)" srcset="~/lib/Imagens/ambiente_trabalho1_pequena.jpg">
                    <source media="(max-width: 600px)" srcset="~/lib/Imagens/ambiente_trabalho1_media.jpg">
                    <img src="~/lib/Imagens/ambiente_trabalho1_grande.jpg" alt="pessoas em seu ambiente de trabalho">
                </picture>
            </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script src="scripts/script.js"></script>
    </div>
</div>