@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quem somos";
}

<div class="container" id="info-container">

    <div class="col-12">
        <div class="row">
           

            <div class="col-12 col-md-5" id="info-banner">
                <img src="~/lib/Imagens/logoMaior.jfif" alt="" class="img-fluid" />
            </div>
            <div class="col-12 col-md-7" id="info-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title text-primary">Quem somos</h2>
                        <p class="subtitle">
                            O Instituto Down foi criado em  outubro de 2021, com o objetivo de capacitar e incluir no mercado de trabalho pessoas portadoras da síndrome de Down.
                            No Brasil, infelizmente, o portador da síndrome de Down enfrenta diariamente o preconceito e encontra muitas barreiras na hora de escolher uma profissão e encontrar uma oportunidade no mercado de trabalho.
                            Sabemos que um emprego é, além de uma fonte de renda, um sinal de autonomia, independência e inclusão social. Além disso, o emprego tem uma grande influência na autoimagem e autoestima profissional de uma pessoa, pois uma pessoa com autoestima profissional elevada sente-se capaz e pronta para os desafios do dia a dia.
                            O Instituto Down acredita que toda pessoa tem direito ao trabalho e entendemos que as empresas precisam adquirir essa consciência social e abrir espaço para os portadores da síndrome de Down.
                            O princípio para isso é entender que a doença não é sinal de incapacidade, apenas de diferença. É importante saber que um portador da síndrome de Down tem condições de aprender - mesmo que com mais lentidão - e pode sim exercer uma profissão, contribuindo para a empresa e para a sociedade.

                        </p>
                    </div>
                </div>
            </div>
        </div>
